.body__regular-paragraph {
    font-size: 1.1rem;
}

/* override some Bootstrap defaults */
.navbar {
    height: 90px !important;
    font-size: 1.4rem !important;
}

.navbar-brand {
    font-size: 1.7rem !important;
}

.background-colored {
    background-color: #fff !important; /* #fff is Bootstrap's bg color */
}
