/* general styles */
.sized-2x {
    font-size: 1.3rem;
}

.spaced-2x {
    margin: 2rem;
}

.icon {
    text-decoration: none;
    color: #000;
    margin: 0 1.2rem;
}

.icon:hover {
    color: #777;
}

/* index page graph styles */
.body__regular-paragraph {
    font-size: 1.1rem;
}

.body__graph-svg {
    margin: 5px;
    border: 3px solid black;
}

/* override some Bootstrap defaults */
.navbar {
    height: 90px !important;
    font-size: 1.4rem !important;
}

.navbar-brand {
    font-size: 1.7rem !important;
}

.background-colored {
    background-color: #fff !important; /* #fff is Bootstrap's bg color */
}

/* footer styles */
.__footer_ruler {
    margin: 24px;
    border-radius: 5px;
    border: 2px solid black;
}
